
<header>
   <navbar></navbar>
</header>
<main>
    <!-- <table>
    
        <tr>
           
            
            <th>teste</th>
        </tr>
        <tr ng-repeat="b in $ctrl.banco">
            <td>{{b.credito}}</td>
        </tr>
        
        </table> -->
<div class="criar-conta">
   
    <h1 style="margin-left: 42%;">Login</h1>
    <input style=" border-radius: 5px; height: 28px; width: 300px; margin-top: 40%; margin-left: 26%;" ng-model="cpf" type="number" placeholder="cpf">
    <button ng-click='$ctrl.perfil(cpf)' style="border: 1px solid white; border-style: groove; border-radius: 5px; color:white; background-color:#23232e ; height: 28px; width: 300px; margin-top: 1%; margin-left: 26%;">logar</button>
    {{aaaaaaaaaaaaaaaaaaaaaaaaaa}}
    {{console.log(this.perfill.nome)}}
    {{aaaaaaaaaaaaaaaaaaaaaaaaaa}}
</div>

</main>
